.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $background;
  color: $secondary;
  padding: 10px;
}

.skipLink:focus {
  left: 0;
  top: 50px;
}

.navBar a:hover,
.navBar a:focus {
  background: $background;
  color: $secondary;
}

.linkContainer a:hover,
.linkContainer a:focus,
.linkContainer a:nth-of-type(2):hover,
.linkContainer a:nth-of-type(2):focus,
button:hover,
button:focus {
  background: $background;
  color: $secondary;
  border: 2px solid $main;
}

.contactInfo a:hover,
.contactInfo a:focus {
  color: $main;
  border-bottom: 2px solid $background;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.4);
}

.socialLinks i:hover {
  color: $main;
}

.socialLinks a:focus {
  border-bottom: 2px solid $main;
}

footer i:hover {
  color: $main;
}

footer a:focus {
  border: 1px solid $background;
}
