.contact {
  background: rgba($darkBackground, 0.9);
  color: #fff;
}

.contactForm {
  @include flex(column, space-between);
  width: 100%;
  min-height: 320px;
  border-bottom: 1px solid $highlight;
}

::-moz-placeholder {
  opacity: 1;
}

fieldset,
input {
  border: none;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 2px solid $main;
  background: transparent;
  color: #fff;
}

textarea {
  resize: none;
  margin-top: 10px;
  border: 2px solid $main;
}

fieldset {
  width: 100%;
  margin-top: 20px;
}

input[type="text"],
input[type="email"] {
  width: 49.5%;
}

button {
  border: none;
  border: 2px solid transparent;
  padding: 10px 12px;
  margin: 6px 0 20px 0;
  background: $main;
  color: $background;
}

.contactInfo {
  @include flex(column);
  width: 100%;
}

.contactInfo a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid $secondary;
  padding-top: 20px;
  margin-bottom: 20px;
}

.socialLinks i {
  color: #fff;
}

.socialLinks {
  margin-top: 20px;
}

.socialLinks ul {
  @include flex(row, space-evenly);
}
