header {
  @include flex (column);
  height: 100vh;
  color: #fff;
}

h1 {
  transform: rotate(-4deg);
  text-shadow: 1px 1px black;
}

header h2 {
  color: $secondary;
  text-shadow: 1px 1px black;
  padding-top: 0;
  transform: rotate(-4deg);
}

header p {
  padding-top: 20px;
}

