.headerNav {
  @include flex (row, flex-start);
  background: transparent;
  padding: 10px 40px;
  // position: fixed;
  margin-top: 6px;
}

.headerNav a {
  padding: 8px 10px;
  border-radius: 10%;
}

.projectNav {
  @include flex(column);
  align-items: flex-start;
  border-bottom: 1px solid $highlight;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.projectNav li a {
  color: $main;
}

.projectNav h2,
.projectNav ul {
  padding-bottom: 10px;
}

.navBar ul {
  @include flex(row, space-evenly);
}

.projectNav a {
  padding: 6px 8px;
  border-radius: 10%;
}

.navBar a {
  color: #fff;
}
