.headerNav {
  background: transparent;
  padding: 10px 40px;
  position: fixed;
}

.projectNav {
  @include flex (column);
  align-items: flex-start;
  border-bottom: 1px solid $highlight;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.projectNav li a{
  color: $main;
  font-size: 1.2rem;
}

.projectNav h2, .projectNav ul {
  padding-bottom: 10px;
}

.navBar ul {
  @include flex(row, space-evenly);
}

.navBar li {
  padding: 0 12px;
}

.navBar a {
  color: #fff;
}

a.active {
  // color: $secondary;
  border-bottom: 2px solid #fff;
}