.projects {
  @include flex (column);
  width: 100%;
  background: rgba($darkBackground, 0.9);
  color: #fff;
}

.projectContainer {
  @include flex (row);
  width: 100%;
}

.secondProject, .fourthProject {
  @include flex (row-reverse);
  text-align: right;
}

.projectImgContainer {
  @include flex (row);
width: 50%;
height:100%;
background: rgba($secondary, 0.7);
}

.projectImgContainer img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.projectInfoContainer {
  width: 50%;
  height: 100%;
  padding: 40px;
  padding-top: 20px;
  background: rgba($tertiary, 0.7);
}

.projectInfoContainer h3, .projectInfoContainer a {
  color: #fff;
}

.iconContainer {
  padding-top: 10px;
}

.iconContainer img{
  width: 20px;
  height: 20px;
}

.linkContainer {
  @include flex (row, flex-start);
  margin-top: 10px;
}

.right {
  @include flex (row, flex-end)
}

.linkContainer a {
  padding: 10px;
  background: $secondary;
  color: $background;
  border: 2px solid transparent;
}

.linkContainer a:first-of-type {
  margin-right: 10px;
}

.linkContainer a:nth-of-type(2) {
  background: $main;
}
