.skills {
  background: $background;
}

.skills h2 {
  color: $main;
  padding-bottom: 60px;
}

.skill {
  @include flex (row, center);
  flex-wrap: wrap;
}

.skill li {
  @include flex (column, center);
  width: 33%;
  padding: 10px;
}

.skill i {
  font-size: 80px;
  color: $tertiary;
}

.skill img {
  width: 80px;
  height: 80px;
}

.skill p {
  text-transform: uppercase;
  color: #000;
  margin-top: 10px;
}

