html {
  @include fontStyle(112.5%, 1.5rem, #000, $body);
}

h1 {
  @include fontStyle(6rem, 6.4rem, #fff, $header);
}

h2 {
  @include fontStyle(2.8rem, 4rem, #fff, $header);
}

h3 {
  @include fontStyle(2rem, 3.4rem, $main, $secondaryHeader);
}

h4 {
  @include fontStyle(1.2rem, 1.8rem, $main, $secondaryHeader);
}

::placeholder {
  @include fontStyle(1rem, 1.2rem, $background, $body);
}

p {
  @include fontStyle(1rem, 1.5rem, #000, $body);
}

header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.infoContainer {
  line-height: 1.5rem;
}

.projectNav li a {
  font-size: 1.2rem;
}

.contactInfo a {
  font-size: 1.4rem;
}

.iconContainer i {
  font-size: 1.4rem;
}

.socialLinks i {
  font-size: 2.4rem;
}

.skill i {
  font-size: 4.4rem;
}

footer i {
  font-size: 2rem;
}
