//====================
// All Font Stylings
//====================
html {
  font-size: 112.5%;
  font-family: $body;
}

h1 {
  @include fontStyle(6rem, 6.4rem, #fff, $header);
}

h2 {
  @include fontStyle(3rem, 4rem, #fff, $header);
}

h3 {
  @include fontStyle(2rem, 3.8rem, $main, $secondaryHeader);
}

h4 {
  @include fontStyle(1.2rem, 1.8rem, $main, $secondaryHeader)
}

p {
  line-height: 26px;
}

header h2 {
  font-size: 2rem;
}

.infoContainer {
  line-height: 26px;
}