//====================
// Colours
//====================
// main colours
// $main: #465D67;
// $secondary: #d6b781;
// $tertiary: #193741;
// $highlight: #FDCD01;
$text: #000;
$main: #57a009;
$secondary: #0b4f6c;
$tertiary: #230903;
$highlight: #656256;

// background colours
$background: #f9fafa;
$darkBackground: #272525;

//====================
// Fonts
//====================
$header: "Oswald", sans-serif;
$secondaryHeader: "Montserrat", sans-serif;
$body: "Open Sans", sans-serif;

//====================
// Mixins
//====================
@mixin flex($direction, $justContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justContent;
  align-items: center;
}

@mixin fontStyle($size, $lh, $color, $fam: $body) {
  font-family: $fam;
  font-size: $size;
  line-height: $lh;
  color: $color;
}
