@import "setup";
@import "variablesAndMixins";
@import "typography";
@import "wrapper";
@import "navBars";
@import "header";
@import "about";
@import "projects";
@import "skills";
@import "contactForm";
@import "queries";

main {
  background-image: url("../../assets/heroImage.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}