@import "setup";
@import "variablesAndMixins";
@import "typography";
@import "accessibility";
@import "wrapper";
@import "navBars";
@import "header";
@import "about";
@import "projects";
@import "skills";
@import "contact";
@import "footer";

//Global Styles
body {
  background-image: url("../assets/heroImage.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

@import "queries";
