a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 112.5%;
  line-height: 1.3rem;
  color: #000;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  line-height: 6.4rem;
  color: #fff;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  line-height: 4rem;
  color: #fff;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.8rem;
  color: #57a009;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #57a009;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #F9FAFA;
}

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #F9FAFA;
}

::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #F9FAFA;
}

::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #F9FAFA;
}

header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.infoContainer {
  line-height: 1.3rem;
}

.projectNav li a {
  font-size: 1.2rem;
}

.contactInfo a {
  font-size: 1.4rem;
}

.socialLinks i {
  font-size: 2.4rem;
}

.skill i {
  font-size: 4.4rem;
}

footer i {
  font-size: 2rem;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #F9FAFA;
  color: #0b4f6c;
  padding: 10px;
}

.skipLink:focus {
  left: 0;
  top: 50px;
}

.navBar a:hover, .navBar a:focus {
  background: #F9FAFA;
  color: #0b4f6c;
}

.linkContainer a:hover, .linkContainer a:focus, .linkContainer a:nth-of-type(2):hover, .linkContainer a:nth-of-type(2):focus, button:hover, button:focus {
  background: #F9FAFA;
  color: #0b4f6c;
  border: 2px solid #57a009;
}

.contactInfo a:hover, .contactInfo a:focus {
  color: #57a009;
  border-bottom: 2px solid #F9FAFA;
}

input:focus, textarea:focus {
  background: rgba(0, 0, 0, 0.4);
}

.socialLinks i:hover {
  color: #57a009;
}

.socialLinks a:focus {
  border-bottom: 2px solid #57a009;
}

footer i:hover {
  color: #57a009;
}

footer a:focus {
  border: 1px solid #F9FAFA;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

.headerNav {
  background: transparent;
  padding: 10px 40px;
  position: fixed;
  margin-top: 6px;
}

.headerNav a {
  padding: 8px 10px;
  border-radius: 10%;
}

.projectNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #656256;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.projectNav li a {
  color: #57a009;
}

.projectNav h2, .projectNav ul {
  padding-bottom: 10px;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectNav a {
  padding: 6px 8px;
  border-radius: 10%;
}

.navBar a {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #fff;
}

h1 {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

header h2 {
  text-shadow: 1px 1px #0b4f6c;
  padding-top: 0;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

header p {
  padding-top: 20px;
}

.about {
  background: #F9FAFA;
  padding: 40px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.aboutPicture img {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-right: 3%;
  padding: 4px;
  border-radius: 50%;
  max-width: 100%;
}

.infoContainer {
  width: 80%;
  text-align: justify;
}

.infoContainer h4 {
  background: #57a009;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin-bottom: 14px;
  border: none;
}

.infoContainer p {
  padding-top: 15px;
}

.infoContainer p:first-of-type {
  padding-top: 0;
}

.name {
  border-bottom: 1px solid #0b4f6c;
}

.highlight {
  color: #57a009;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(39, 37, 37, 0.9);
  color: #fff;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.secondProject, .fourthProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.projectImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  background: rgba(11, 79, 108, 0.7);
}

.projectImgContainer img {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.projectInfoContainer {
  width: 50%;
  height: 100%;
  padding: 40px;
  padding-top: 20px;
  background: rgba(35, 9, 3, 0.7);
}

.projectInfoContainer h3, .projectInfoContainer a {
  color: #fff;
}

.iconContainer {
  padding-top: 10px;
}

.iconContainer img {
  width: 20px;
  height: 20px;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkContainer a {
  padding: 10px;
  background: #0b4f6c;
  color: #F9FAFA;
  border: 2px solid transparent;
}

.linkContainer a:first-of-type {
  margin-right: 10px;
}

.linkContainer a:nth-of-type(2) {
  background: #57a009;
}

.skills {
  background: #F9FAFA;
  padding-bottom: 40px;
}

.skills h2 {
  color: #0b4f6c;
  padding-bottom: 60px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding: 10px;
}

.skill i {
  color: #57a009;
}

.skill img {
  width: 80px;
  height: 80px;
}

.skill p {
  text-transform: uppercase;
  color: #230903;
  margin-top: 10px;
}

.contact {
  background: rgba(39, 37, 37, 0.9);
  color: #fff;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 350px;
  border-bottom: 1px solid #656256;
}

::-moz-placeholder {
  opacity: 1;
}

fieldset, input {
  border: none;
}

input, textarea {
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 2px solid #57a009;
  background: transparent;
  color: #fff;
}

textarea {
  resize: none;
  margin-top: 10px;
  border: 2px solid #57a009;
}

fieldset {
  width: 100%;
  margin-top: 20px;
}

input[type=text], input[type=email] {
  width: 49.5%;
}

button {
  border: none;
  border: 2px solid transparent;
  padding: 10px 12px;
  margin: 6px 0 20px 0;
  background: #57a009;
  color: #F9FAFA;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contactInfo a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #0b4f6c;
  padding-top: 20px;
  margin-bottom: 20px;
}

.socialLinks i {
  color: #fff;
}

.socialLinks {
  margin-top: 20px;
}

.socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(39, 37, 37, 0.9);
  color: #fff;
  padding: 6px 0;
}

footer i {
  color: #0b4f6c;
  margin-left: 10px;
}

body {
  background-image: url("../../assets/heroImage.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}
